In [1]:
## Import libraries
from dotenv import load_dotenv
import os
import psycopg2
import pandas as pd
import urllib.request
import json
pd.set_option('display.max_columns', 500)

In [2]:
### Environment variable
load_dotenv('.env')
ENDPOINT_FETCH = os.getenv('ENDPOINT_FETCH')
DB_NAME_FETCH = os.getenv('DB_NAME_FETCH')
USERNAME_FETCH = os.getenv('USERNAME_FETCH')
PASSWORD_FETCH = os.getenv('PASSWORD_FETCH')
ENDPOINT = os.getenv('ENDPOINT')
DB_NAME = os.getenv('DB_NAME')
USER = os.getenv('USER')
PASSWORD = os.getenv('PASSWORD')
print(USER)

nathan

In [3]:
## Extract tables from AWS RDS and turn into a dataframe
## create engine - connect to Historiacl wildfire data - Maran db
engine = psycopg2.connect("host={} dbname={} user={} password={}".format(
        ENDPOINT_FETCH, DB_NAME_FETCH, USERNAME_FETCH, PASSWORD_FETCH))
cur = engine.cursor()

## Extract table into a dataframe
#cur.execute("SELECT * FROM Firedata_History;")
df_wildfires = pd.read_sql("SELECT * FROM Firedata_History;", engine)
engine.close()

## create engine - connect to Historiacl weather data - Nathan db
## extract data from historical whether data table
engine = psycopg2.connect("host={} dbname={} user={} password={}".format(
        ENDPOINT, DB_NAME, USER, PASSWORD))
cur = engine.cursor()

## Extract table into a dataframe
#cur.execute("SELECT * FROM Firedata_History;")
df_weather = pd.read_sql("SELECT * FROM HISTORICAL_WEATHER_DATA;", engine)
engine.close()

c:\Users\eitam\VScodeProjects\datalake\venv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\eitam\VScodeProjects\datalake\venv\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [4]:
df_wildfires.head()

,objectid,containmentdatetime,controldatetime,dailyacres,discoveryacres,firecause,firecausegeneral,firecausespecific,firediscoverydatetime,firemgmtcomplexity,fireoutdatetime,incidentname,incidenttypecategory,incidenttypekind,initiallatitude,initiallongitude,initialresponseacres,poocity,poocounty,poolandownerkind,poostate,dateofupload
0,139,2016-05-05,2016-05-05,0.1,0.1,Natural,None,None,2016-05-05,None,2016-05-31,Monroe,WF,FI,38.767220,-119.8167,0.1,None,Alpine,None,US-CA,2022-04-21
1,287,2015-07-05,2015-07-10,0.2,0.1,Natural,None,None,2015-07-05,None,2015-07-11,SPRING,WF,FI,41.421398,-122.4981,NaN,None,Siskiyou,Federal,US-CA,2022-04-21
2,510,2019-08-11,2019-08-11,0.1,0.1,Natural,None,None,2019-08-10,None,2019-08-12,HAPPY,WF,FI,41.046330,-122.0796,NaN,None,Shasta,Federal,US-CA,2022-04-21
3,716,2017-08-07,2017-08-20,0.1,0.1,Natural,None,None,2017-08-07,None,2017-08-20,COAL,WF,FI,41.357780,-120.9694,0.1,None,Modoc,Federal,US-CA,2022-04-21
4,901,2017-08-06,2017-08-07,0.1,0.1,Natural,None,None,2017-08-06,None,2017-09-20,GEM,WF,FI,37.751220,-119.1410,0.1,None,Mono,Federal,US-CA,2022-04-21

In [5]:
df_weather.head()

,id,address,name,latitude,longitude,tz,wdir,temp,maxt,visibility,wspd,datetimestr,solarenergy,heatindex,cloudcover,mint,precip,solarradiation,weathertype,snowdepth,sealevelpressure,snow,dew,humidity,precipcover,wgust,conditions,windchill
0,"38.76722,-119.8167","38.76722,-119.8167","38.76722,-119.8167",38.76722,-119.8167,America/Los_Angeles,176.79,9.4,17.6,15.9,11.9,2016-05-03,NaN,NaN,30.0,0.3,0.00,NaN,Light Rain,62.42,1018.6,0.00,2.0,64.00,0.00,37.1,Partially cloudy,-0.7
1,"38.76722,-119.8167","38.76722,-119.8167","38.76722,-119.8167",38.76722,-119.8167,America/Los_Angeles,176.08,10.4,17.7,16.0,18.3,2016-05-04,NaN,NaN,23.6,3.4,0.24,NaN,"Lightning Without Thunder, Light Rain",59.08,1013.0,5.87,2.5,62.93,8.33,56.9,Snow,2.7
2,"38.76722,-119.8167","38.76722,-119.8167","38.76722,-119.8167",38.76722,-119.8167,America/Los_Angeles,148.46,7.2,11.5,14.3,15.7,2016-05-05,NaN,NaN,63.4,2.9,12.80,NaN,"Lightning Without Thunder, Mist, Light Snow, T...",58.15,1009.3,3.78,4.0,80.99,54.17,37.1,"Snow, Partially cloudy",1.9
3,"38.76722,-119.8167","38.76722,-119.8167","38.76722,-119.8167",38.76722,-119.8167,America/Los_Angeles,220.33,6.6,12.9,13.8,12.2,2016-05-06,NaN,NaN,68.7,2.0,9.14,NaN,"Mist, Light Snow, Rain, Thunderstorm, Light Rain",55.52,1009.5,0.00,2.7,78.93,58.33,31.7,"Rain, Partially cloudy",0.2
4,"38.76722,-119.8167","38.76722,-119.8167","38.76722,-119.8167",38.76722,-119.8167,America/Los_Angeles,181.25,7.0,9.4,14.8,10.7,2016-05-07,NaN,NaN,81.0,4.9,4.33,NaN,"Mist, Light Rain",63.04,1011.5,10.78,5.1,87.57,45.83,NaN,"Snow, Overcast",4.0