(This notebook helped to build the script, it is not formatted and not clean)

## Build lambda for RDS datalake for Weather data (real time)

### 1. Prompt data from S3 bucket, ThermoAnomalies data

In [1]:
import boto3 # make --> pip install boto3
import sys
import os
import pandas as pd
import csv
import io

In [3]:
s3_client =boto3.client('s3')
s3_bucket_name='eswf1'
s3 = boto3.resource('s3',
                    aws_access_key_id='ASIAYQYC6XJONKLN73D3',
                    aws_secret_access_key='gRIl6dY6V38iB+slTJIi1MFjG7O6i1vjTVL9y802',
                    aws_session_token='FwoGZXIvYXdzEPT//////////wEaDFc1mOrInlnZTBLg+CK5AeMZ2B7SSwZKTt1PxgPyV8Bon0hwZYUpZsQa6SIODxW6Ka4DGps94XB/aPb0pznrbDvox4VEU6Eq7FCL/OOk57LYRU7NIv1ZjZ93XWKqtb8KBFPCH1kXTJE/B8Suid3K1iUCHzgzF0SK5Frfd5Z9k3znriuiBQkRuCbTi0T/dVUaRUO1FM0cUpg1Wq0eHWJSevCOD1Q0l7/ORDVUJd79Q0MTlNuuEmtPGm874/0AIzRZRMTsNC3aCmjsKOrsrJIGMi1q5VHRe4cYvaSqQ9am+MIgWMAvAD81OYFJB66cBpyhGlXrCgHAU5ZYZLFRhDs=')

In [4]:
""" Getting data files from the AWS S3 bucket as denoted above and printing the first 10 file names having prefix "2019/7/8" """
my_bucket=s3.Bucket(s3_bucket_name)

bucket_list=[]
for my_bucket_object in my_bucket.objects.all():
    file_name=my_bucket_object.key
    print(my_bucket_object)
    if file_name.find(".csv")!=-1:
        bucket_list.append(my_bucket_object.key)
length_bucket_list=print(len(bucket_list))
print(bucket_list[0:10])

s3.ObjectSummary(bucket_name='eswf1', key='ThA_layer.zip')
s3.ObjectSummary(bucket_name='eswf1', key='ThA_layer2.zip')
s3.ObjectSummary(bucket_name='eswf1', key='ThA_layer3.zip')
s3.ObjectSummary(bucket_name='eswf1', key='ThAnomalies.csv')
s3.ObjectSummary(bucket_name='eswf1', key='ThAnomalies2.csv')
s3.ObjectSummary(bucket_name='eswf1', key='ThAnomalies3.csv')
3
['ThAnomalies.csv', 'ThAnomalies2.csv', 'ThAnomalies3.csv']

In [10]:
obj = s3.Object(s3_bucket_name,key='ThAnomalies3.csv')
data=obj.get()['Body'].read()
df=pd.read_csv(io.BytesIO(data), header=0, delimiter=",", low_memory=False)
thdf= df.drop('Unnamed: 0', axis=1)
thdf

,OBJECTID,BRIGHTNESS,SCAN,TRACK,SATELLITE,CONFIDENCE,VERSION,BRIGHT_T31,FRP,ACQ_DATE,DAYNIGHT,x,y
0,2195,330.69,1.01,1.00,T,86,6.1NRT,307.02,20.33,1648839180000,D,-122.05948,39.35455
1,2204,329.77,1.10,1.05,T,83,6.1NRT,304.23,23.31,1648839180000,D,-120.03122,36.27418
2,2206,325.20,1.10,1.05,T,68,6.1NRT,302.81,18.38,1648839180000,D,-120.02637,36.26736
3,2194,323.71,1.01,1.00,T,81,6.1NRT,306.35,12.32,1648839180000,D,-122.07099,39.35618
4,2193,321.85,1.13,1.06,T,58,6.1NRT,307.68,8.82,1648839180000,D,-118.79675,38.96482
5,2197,320.72,1.00,1.00,T,71,6.1NRT,300.55,12.55,1648839180000,D,-121.59753,38.90963
6,2205,319.28,1.10,1.05,T,57,6.1NRT,302.36,10.88,1648839180000,D,-120.03841,36.26934
7,2202,317.44,1.10,1.04,T,64,6.1NRT,295.40,11.29,1648839180000,D,-119.98958,36.61306
8,2192,317.28,1.01,1.01,T,73,6.1NRT,303.63,10.05,1648839180000,D,-122.25343,39.54778
9,2201,317.21,1.10,1.04,T,70,6.1NRT,297.83,11.71,1648839180000,D,-120.00159,36.61505
10,2196,315.93,1.04,1.02,T,71,6.1NRT,298.20,12.14,1648839180000,D,-123.10704,39.30494
11,2198,313.92,1.00,1.00,T,69,6.1NRT,296.84,8.28,1648839180000,D,-122.02831,38.77820
12,2203,313.59,1.10,1.05,T,50,6.1NRT,299.73,6.78,1648839180000,D,-119.94797,36.45555
13,2190,313.05,1.01,1.00,T,50,6.1NRT,301.09,6.33,1648839180000,D,-122.00409,39.77106
14,2191,312.51,1.01,1.00,T,54,6.1NRT,300.46,5.45,1648839180000,D,-121.99249,39.76943
15,2199,312.08,1.00,1.00,T,65,6.1NRT,298.69,5.72,1648839180000,D,-122.02828,38.70437
16,2200,308.80,1.03,1.01,T,59,6.1NRT,294.40,5.47,1648839180000,D,-120.53757,38.24928

### 2. Data manipulation to access locations + Load csv file in RDS

In [11]:
import psycopg2

In [12]:
try: 
    #print("host={} dbname={} user={} password={}".format(ENDPOINT, DB_NAME, USERNAME, PASSWORD))
    #conn = psycopg2.connect("host={} dbname={} user={} password={}".format(ENDPOINT, DB_NAME, USERNAME, PASSWORD))
    conn = psycopg2.connect("host=datalake.cbqjcib7k7og.us-east-1.rds.amazonaws.com dbname=datalake_weather user=nathan password=123456789")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

In [13]:
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)
    
# Auto commit is very important
conn.set_session(autocommit=True)

In [14]:
cur.execute("CREATE TABLE IF NOT EXISTS THERMOANOMALIES_DATA (OBJECTID INT, BRIGHTNESS FLOAT, SCAN FLOAT, TRACK FLOAT, SATELLITE VARCHAR(10), CONFIDENCE FLOAT, VERSION VARCHAR(15), BRIGHT_T31 FLOAT, FRP FLOAT, ACQ_DATE FLOAT, DAYNIGHT VARCHAR(10), x FLOAT, y FLOAT)")

In [15]:
#Upload data in the table
data=thdf

cols = ",".join([str(i) for i in data.columns.tolist()])

imported_rows=0
excluded_rows_index=[]
for i,row in data.iterrows():
    try:
        sql = "INSERT INTO THERMOANOMALIES_DATA  (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cur.execute(sql, tuple(row))
        conn.commit()
        imported_rows+=1
    except:
        excluded_rows_index.append(i)
        print(i)
print('Number of imported rows: ',imported_rows)

Number of imported rows:  17

x = longitude
y = latitude

**location (lat,long)**

In [ ]:
long=df.loc[:,'x']
lat=df.loc[:,'y']
print(long)
print(lat)

In [178]:
locations_lst=[]
for i,j in enumerate(lat):
    lat_long=str(j)+','+str(long[i])
    locations_lst.append(lat_long)
locations_lst

['39.63052999960336,-122.12948999962096',
 '39.68374999994705,-122.3026999996182',
 '39.254040000099046,-122.6757200000161',
 '39.99832999984903,-118.55497999993952',
 '39.2461200001521,-122.68026999926954',
 '39.2445200000478,-122.65733000033671',
 '40.874949999927,-120.99685000008893',
 '38.55013999946771,-122.56005000001664',
 '36.74385999949901,-120.01720999973608',
 '39.64973999977349,-121.3529600003908']

### 3. Prompt data from Weather API

In [1]:
from datetime import date, datetime, timedelta
import csv
import codecs
import urllib.request
import urllib.error
import sys

import json

In [2]:
date.today()

datetime.date(2022, 4, 22)

**Building functions:**

In [4]:
def API_query_forecast(loc, n, apikey='Z3Z4Q9PHE3MSXWKUPQNQ8434D', unit='metric', agg='24'):
    # This is the core of our weather query URL
    BaseURL = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/forecast'

    ApiKey=apikey
    #UnitGroup sets the units of the output - us or metric
    UnitGroup=unit

    #Locations for the weather data. Multiple locations separated by pipe (|)
    Locations=loc

    #1=hourly, 24=daily
    AggregateHours=agg

    #Forecasting days
    forecastDays=n

    # Set up the query
    QueryParams = '?aggregateHours=' + AggregateHours + '&forecastDays=' +  forecastDays + '&unitGroup=' + UnitGroup + '&shortColumnNames=true'

    Locations='&locations=' + Locations + '&locationMode=array'

    ApiKey='&key='+ApiKey

    # Build the entire query
    URL = BaseURL + QueryParams + Locations + ApiKey+"&contentType=json"

    return URL

#building header, only need to loop once
def json_header_extractor():
    dict_locations=weatherData['locations'][0]
    header=[]
    for key in dict_locations.keys():
        if key=='values':
            header.extend(list(dict_locations[key][0].keys()))
        elif key=='currentConditions':
            header.extend(list(dict_locations[key].keys()))
        else:
            header.append(key)
    return header

#building data, in the 'values' section, there is the data for the forecasted days, so if forecstDays=3, there is 3 elements in the list 'values'
def json_data_extractor():
    dict_locations=weatherData['locations'][0]
    all_data=[]
    for i in range(forecastDays):
        data=[]
        for key, value in dict_locations.items():
            if key=='values':
                data.extend(list(dict_locations[key][i].values()))
            elif key=='currentConditions':
                data.extend(list(dict_locations[key].values()))
            else:
                data.append(value)
        all_data.append(data)
    return all_data

The weather API from Visual Crossing, is supposed to support more than 1 location (mention in the documentation: https://www.visualcrossing.com/resources/documentation/weather-api/weather-api-json-result-structure/). It says "Data for multiple locations can be requested in a single request by concatenating multiple locations using the pipe (|) character.". I tried everything, even contacting the API provider, it remains unsuccesful. 
Therefore, I opt for a 'for loop' over a list of locations and change the content type for '.csv' over '.json' so I can manipulate the data easliy. 
Unfortunately, there is not the same amout of variables in .csv file, therefore we will go through .json.

**Prompt data from API and extract JSON data to a DataFrame:**

In [68]:
locations_lst=['LosAngeles,CA','Bakersfield,CA','SanFrancisco,CA']
forecastDays=3
n=0
raw_data=[]
for loc in locations_lst:           #location_lst --> locations from S3 buckets
    URL=API_query_forecast(loc, str(forecastDays))
    print(URL)
    response = urllib.request.urlopen(URL)
    data = response.read()
    weatherData = json.loads(data.decode('utf-8'))
    if n==0: 
        header=json_header_extractor()
        data=json_data_extractor()
        raw_data.extend(data)
        n+=1
    else:
        data=json_data_extractor()
        raw_data.extend(data)

https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/forecast?aggregateHours=24&forecastDays=3&unitGroup=metric&shortColumnNames=true&locations=LosAngeles,CA&locationMode=array&key=Z3Z4Q9PHE3MSXWKUPQNQ8434D&contentType=json
https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/forecast?aggregateHours=24&forecastDays=3&unitGroup=metric&shortColumnNames=true&locations=Bakersfield,CA&locationMode=array&key=Z3Z4Q9PHE3MSXWKUPQNQ8434D&contentType=json
https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/forecast?aggregateHours=24&forecastDays=3&unitGroup=metric&shortColumnNames=true&locations=SanFrancisco,CA&locationMode=array&key=Z3Z4Q9PHE3MSXWKUPQNQ8434D&contentType=json

**Build DataFrame and procceed to data manipulations to load in RDS environment**

In [69]:
#Build DataFrame
df=pd.DataFrame(raw_data,columns=header)
df_manip=df

#Quick manipulation in order to facilitate the insertion  in the RDS tables (delete columns with no data, and re-arrange column order)
# delete 'stationContribution', 'info', 'index', 'distance', 'time', 'currentConditions' , 'alerts' because they are empty columns -> no data
df_manip=df_manip.drop(['stationContributions', 'datetime', 'index', 'distance', 'time','stations', 'alerts'], axis=1)

# re-arrange column
re_arrg_col=['tz','longitude','latitude','name','address','id']
for col in re_arrg_col:
    shiftpos=df_manip.pop(col)
    df_manip.insert(0,col,shiftpos)

#rename some columns (ex: 2 times wdir --> wdir & wdir_current)
#the last part of the table are current conditons (starts after 'cape' column)
index_current_cond=df_manip.columns.get_loc('cape')
lst_to_rename=list(df_manip.columns[index_current_cond:])
for i,col in enumerate(lst_to_rename):
    if col in ['cape','sunrise','moonphase','sunset']:
        pass
    else:
        new_col=col+'_current'
        lst_to_rename[i]=new_col
lst_not_modify=list(df_manip.columns[:index_current_cond])
new_columns=lst_not_modify+lst_to_rename
df_manip.columns=new_columns

#Save the DataFrame to .csv
new_df=df_manip
new_df.to_csv('weather_API_realtime_data.csv', index=False)

### 4. Load data in RDS data lake

In [55]:
import psycopg2
import os

In [ ]:
ENDPOINT = os.environ['ENDPOINT']
DB_NAME = os.environ['DB_NAME']
USERNAME = os.environ['USERNAME']
PASSWORD = os.environ['PASSWORD']

In [56]:
try: 
    #print("host={} dbname={} user={} password={}".format(ENDPOINT, DB_NAME, USERNAME, PASSWORD))
    #conn = psycopg2.connect("host={} dbname={} user={} password={}".format(ENDPOINT, DB_NAME, USERNAME, PASSWORD))
    conn = psycopg2.connect("host=datalake.cbqjcib7k7og.us-east-1.rds.amazonaws.com dbname=datalake_weather user=nathan password=123456789")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

In [57]:
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)
    
# Auto commit is very important
conn.set_session(autocommit=True)

In [73]:
cur.execute("CREATE TABLE IF NOT EXISTS REALTIME_WEATHER_DATA (id VARCHAR(70), address VARCHAR(80), name VARCHAR(70), latitude FLOAT, longitude FLOAT, tz VARCHAR(30), wdir FLOAT,uvindex FLOAT, datetimeStr DATE, preciptype VARCHAR(50), cin FLOAT, cloudcover FLOAT, pop FLOAT, mint FLOAT, precip FLOAT, solarradiation FLOAT, dew FLOAT, humidity FLOAT, temp FLOAT, maxt FLOAT, visibility FLOAT, wspd FLOAT,severerisk INT, solarenergy FLOAT, heatindex FLOAT, snowdepth FLOAT, sealevelpressure FLOAT, snow FLOAT, wgust FLOAT, conditions VARCHAR(90), windchill FLOAT, cape FLOAT, wdir_current FLOAT, temp_current FLOAT, sunrise TIMESTAMP, visibility_current INT, wspd_current FLOAT, icon_current VARCHAR(20), heatindex_current FLOAT, cloudcover_current FLOAT, precip_current FLOAT, moonphase FLOAT, snowdepth_current FLOAT, sealevelpressure_current FLOAT, dew_current FLOAT, sunset TIMESTAMP, humidity_current FLOAT, wgust_current FLOAT, windchill_current FLOAT);")

In [16]:
cur.execute('TRUNCATE TABLE REALTIME_WEATHER_DATA')

OperationalError: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

In [79]:
#Upload data in the table
data=new_df

cols = ",".join([str(i) for i in data.columns.tolist()])

imported_rows=0
excluded_rows_index=[]
for i,row in data.iterrows():
    try:
        sql = "INSERT INTO REALTIME_WEATHER_DATA  (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cur.execute(sql, tuple(row))
        conn.commit()
        imported_rows+=1
    except:
        excluded_rows_index.append(i)
        print(i)
print('Number of imported rows: ',imported_rows)

Number of imported rows:  9

In [80]:
cur.execute("select count(*) from REALTIME_WEATHER_DATA;")
number_rows=cur.fetchall()[0][0]
print(number_rows)
print(number_rows==imported_rows)

9
True

In [85]:
cur.close()
conn.close()

### Lambda_realtime

In [ ]:
import json
import urllib.request
import pandas
import boto3
import psycopg2


def lambda_handler(event, context):
    
    # 1. Prompt data from S3 bucket-->ThermoAnomalies
    s3_client =boto3.client('s3')
    s3_bucket_name='eswf1'
    s3 = boto3.resource('s3',
                    aws_access_key_id='ASIAYQYC6XJOIJZCJMA6',
                    aws_secret_access_key='qECOWRW2FJq1PkJYZRELRPPCUtqjwidcbxMfjZVG',
                    aws_session_token='FwoGZXIvYXdzEKP//////////wEaDPK9bNSky8503D+LWiK5AWPS6oas8dggTjCxMdV2BkWEto8DZUnJMfhIYZNJpGPSXaEUVssg4r6tkqD+EwYwBY5+PpZeifnvUMhEzTxI/f5xEl06TerGWyy/diEIsigJ9NjaqwoQb+5gWb36z6e348RraRBgmU3OWMDDXdjo/IJgA0tllDO/ZdjCJkyRYvfwaRC+NJAuHN79NgbhdmqWmD7rHsoH0RCtKJF3MVy8aagy1cW2iqf/3+9e+G8ltVh6H4wUQJO0ZrjbKNWbm5IGMi37TlL+egRjQ+kd85E4ENzweKRo19K+g5Smrxml/g8D3CiW6NkMzQ+tmHbrFaA=')
    
    my_bucket=s3.Bucket(s3_bucket_name)
    
    #file of interest 'ThAnomalies3.csv'
    obj = s3.Object(s3_bucket_name,key='ThAnomalies3.csv')
    data=obj.get()['Body'].read()
    df=pd.read_csv(io.BytesIO(data), header=0, delimiter=",", low_memory=False)
    
    print('Data from S3 successfully accessed!')
    
    #2. Load ThermoAnomalies data in RDS 
    try: 
        #print("host={} dbname={} user={} password={}".format(ENDPOINT, DB_NAME, USERNAME, PASSWORD))
        #conn = psycopg2.connect("host={} dbname={} user={} password={}".format(ENDPOINT, DB_NAME, USERNAME, PASSWORD))
        conn = psycopg2.connect("host=datalake.cbqjcib7k7og.us-east-1.rds.amazonaws.com dbname=datalake_weather user=nathan password=123456789")
    except psycopg2.Error as e: 
        print("Error: Could not make connection to the Postgres database")
        print(e) 
    try: 
        cur = conn.cursor()
    except psycopg2.Error as e: 
        print("Error: Could not get curser to the Database")
        print(e)
        
    conn.set_session(autocommit=True)
    
    cur.execute("CREATE TABLE IF NOT EXISTS THERMOANOMALIES_DATA (OBJECTID INT, BRIGHTNESS FLOAT, SCAN FLOAT, TRACK FLOAT, SATELLITE VARCHAR(10), CONFIDENCE FLOAT, VERSION VARCHAR(15), BRIGHT_T31 FLOAT, FRP FLOAT, ACQ_DATE FLOAT, DAYNIGHT VARCHAR(10), x FLOAT, y FLOAT)")  
    
    #Upload data in the table
    data=df

    cols = ",".join([str(i) for i in data.columns.tolist()])

    for i,row in data.iterrows():
        try:
            sql = "INSERT INTO THERMOANOMALIES_DATA  (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"
            cur.execute(sql, tuple(row))
            conn.commit()
        except:
         pass
    
    print('ThAnomalies data successfully loaded to RDS!')
    #Access latitude and longitute
    long=df.loc[:,'x']
    lat=df.loc[:,'y']
    locations_lst=[]
    for i,j in enumerate(lat):
        lat_long=str(j)+','+str(long[i])
        locations_lst.append(lat_long)
    
    #3. Prompt data from the weather API
    
    #Query builder function
    def API_query_forecast(loc, n, apikey='Z3Z4Q9PHE3MSXWKUPQNQ8434D', unit='metric', agg='24'):
        # This is the core of our weather query URL
        BaseURL = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/weatherdata/forecast'
    
        ApiKey=apikey
        #UnitGroup sets the units of the output - us or metric
        UnitGroup=unit
    
        #Locations for the weather data. Multiple locations separated by pipe (|)
        Locations=loc
    
        #1=hourly, 24=daily
        AggregateHours=agg
    
        #Forecasting days
        forecastDays=n
    
        # Set up the query
        QueryParams = '?aggregateHours=' + AggregateHours + '&forecastDays=' +  forecastDays + '&unitGroup=' + UnitGroup + '&shortColumnNames=true'
    
        Locations='&locations=' + Locations + '&locationMode=array'
    
        ApiKey='&key='+ApiKey
    
        # Build the entire query
        URL = BaseURL + QueryParams + Locations + ApiKey+"&contentType=json"
    
        return URL
        
    #Header JSON extractor function
    def json_header_extractor():
        dict_locations=weatherData['locations'][0]
        header=[]
        for key in dict_locations.keys():
            if key=='values':
                header.extend(list(dict_locations[key][0].keys()))
            elif key=='currentConditions':
                header.extend(list(dict_locations[key].keys()))
            else:
                header.append(key)
        return header
        
    #Data JSON extractor function  
    def json_data_extractor():
        dict_locations=weatherData['locations'][0]
        all_data=[]
        for i in range(forecastDays):
            data=[]
            for key, value in dict_locations.items():
                if key=='values':
                    data.extend(list(dict_locations[key][i].values()))
                elif key=='currentConditions':
                    data.extend(list(dict_locations[key].values()))
                else:
                    data.append(value)
            all_data.append(data)
        return all_data
    
    #Access the API and extract the data
    forecastDays=3
    n=0
    raw_data=[]
    for loc in locations_lst:           #location_lst --> locations from S3 buckets
        URL=API_query_forecast(loc, str(forecastDays))
        print(URL)
        response = urllib.request.urlopen(URL)
        data = response.read()
        weatherData = json.loads(data.decode('utf-8'))
        if n==0: 
            header=json_header_extractor()
            data=json_data_extractor()
            raw_data.extend(data)
            n+=1
        else:
            data=json_data_extractor()
            raw_data.extend(data)
    
    #Build DateFrame and procceed to minor manipulations to load the data in RDS
    df=pd.DataFrame(raw_data,columns=header)
    df_manip=df
    
    #Quick manipulation in order to facilitate the insertion  in the RDS tables (delete columns with no data, and re-arrange column order)
    # delete 'stationContribution', 'info', 'index', 'distance', 'time', 'currentConditions' , 'alerts' because they are empty columns -> no data
    df_manip=df_manip.drop(['stationContributions', 'datetime', 'index', 'distance', 'time','stations', 'alerts'], axis=1)
    
    # re-arrange column
    re_arrg_col=['tz','longitude','latitude','name','address','id']
    for col in re_arrg_col:
        shiftpos=df_manip.pop(col)
        df_manip.insert(0,col,shiftpos)
    
    # rename some columns (ex: 2 times wdir --> wdir & wdir_current)
    # the last part of the table are current conditons (starts after 'cape' column)
    index_current_cond=df_manip.columns.get_loc('cape')
    lst_to_rename=list(df_manip.columns[index_current_cond:])
    for i,col in enumerate(lst_to_rename):
        if col in ['cape','sunrise','moonphase','sunset']:
            pass
        else:
            new_col=col+'_current'
            lst_to_rename[i]=new_col
    lst_not_modify=list(df_manip.columns[:index_current_cond])
    new_columns=lst_not_modify+lst_to_rename
    df_manip.columns=new_columns
    
    new_data=df_manip
    
    print('Data from API successfully accessed and DataFrame built!')
    
    #4. Load weather data in RDS
    try: 
        conn = psycopg2.connect("host=datalake.cbqjcib7k7og.us-east-1.rds.amazonaws.com dbname=datalake_weather user=nathan password=123456789")
    except psycopg2.Error as e: 
        print("Error: Could not make connection to the Postgres database")
        print(e)
    try: 
        cur = conn.cursor()
    except psycopg2.Error as e: 
        print("Error: Could not get curser to the Database")
        print(e)

    conn.set_session(autocommit=True)
    
    cur.execute("CREATE TABLE IF NOT EXISTS REALTIME_WEATHER_DATA (id VARCHAR(70), address VARCHAR(80), name VARCHAR(70), latitude FLOAT, longitude FLOAT, tz VARCHAR(30), wdir FLOAT,uvindex FLOAT, datetimeStr DATE, preciptype VARCHAR(50), cin FLOAT, cloudcover FLOAT, pop FLOAT, mint FLOAT, precip FLOAT, solarradiation FLOAT, dew FLOAT, humidity FLOAT, temp FLOAT, maxt FLOAT, visibility FLOAT, wspd FLOAT,severerisk INT, solarenergy FLOAT, heatindex FLOAT, snowdepth FLOAT, sealevelpressure FLOAT, snow FLOAT, wgust FLOAT, conditions VARCHAR(90), windchill FLOAT, cape FLOAT, wdir_current FLOAT, temp_current FLOAT, sunrise TIMESTAMP, visibility_current INT, wspd_current FLOAT, icon_current VARCHAR(20), heatindex_current FLOAT, cloudcover_current FLOAT, precip_current FLOAT, moonphase FLOAT, snowdepth_current FLOAT, sealevelpressure_current FLOAT, dew_current FLOAT, sunset TIMESTAMP, humidity_current FLOAT, wgust_current FLOAT, windchill_current FLOAT);")

    #Upload data in the table
    data=new_df
    
    cols = ",".join([str(i) for i in data.columns.tolist()])
    imported_rows=0
    for i,row in data.iterrows():
        try:
            sql = "INSERT INTO REALTIME_WEATHER_DATA  (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"
            cur.execute(sql, tuple(row))
            conn.commit()
            imported_rows+=1
        except:
            pass
    #Run a little check
    cur.execute("select count(*) from REALTIME_WEATHER_DATA;")
    number_rows=cur.fetchall()[0][0]
    print(number_rows)
    print(number_rows==imported_rows)
    
    # END
    cur.close()
    conn.close()

    return 'ThermoAnomalies accessed and loaded & Weather Data accessed and loaded in RDS'